<h1>ACA VOY A GESTIONAR LA INFO DE UNA PELICULA</h1>

<br>


<form action="/panel/nueva" method="POST">
    <label for="">Titulo</label>
    <input type="text" name="titulo">
    <label for="">Estreno</label>
    <input type="text" name="estreno">
    <label for="">Género</label>
    <input type="text" name="genero">
    <input type="submit" value="Enviar!">
</form>